@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', sans-serif;
  @apply bg-white text-black;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

